<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content">
      <div class="row list-row">
        <div class="col-md-12">
          <h3 class="page-heading text-center">
            URL Shortener
          </h3>
        </div>
        <br><br>
        <br><br>
        <div class="container">
          <div class="col-md-6">
            <%= form_for :url, remote: true do |f|   %>
              <div class="form-group">
              <%= f.text_field  :long_url, class: "form-control" %><br>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>

            <div class="text-center">
              <%= link_to "Stats", stats_urls_path %>
            </div>
          </div>
        </div>
        <div id="default_url_list"><%= render 'urls/list', all_urls: ShortUrl.all %></div>
        <div id="ajax_url_list"></div>
      </div>
    </div>
  </div>
</div>